<h1>App Component</h1>

<!-- single variable are calling like a function -->
<p>{{ firstSignal }}</p>

<ul>
  @for(name of nameSvc.names(); track $index){
    <li>{{ name.name }}</li>
  }
</ul>

<button (click)="handleClick()">log names</button>

<p>Last Name in The Object: {{lastName()?.name}}</p>

<hr>

<p>Name Filtering</p>
<input type="text" [value]="nameFilter()" (input)="updateNameFilter($event)">
<ul>
  @for(name of visibleNames(); track $index){
    <li>{{ name.name }}</li>
  }
</ul>

<button (click)="nameSvc.clearNames()">Clear Names</button>

<br/>
<br/>
<br/>

<input type="text" [value]="newName()" (input)="updateNewName($event)">
<button (click)="nameSvc.append(newName())">New Name</button>